<div class="comments-container<%= reply ? " reply" : "" %>">
  <% comments.each do |comment| %>
    <div class="comment">
      <img src=<%= comment.user.avatar %> alt="">
      <div class="comment-info" >
        <div class="title">
          <h3>
            <%= link_to(comment.user.name, comment.user) %>
            <span class="comment-date">
              <%= comment.created_at.strftime("%m/%d/%Y %I:%M%p") %>
            </span>
          </h3>
          <% if comment.user.id == @current_user.id %>
            <div class="footer-buttons">
              <button class="pop-button reply-button" data-id=<%= comment.id %>>↵</button>
                <button class="pop-button edit-comment" data-id=<%= comment.id %>>✎</button>
                <%= button_to("✕", comment, method: :delete, :class=>"pop-button") %>
            </div>
          <% else %>
          <div class="footer-buttons">
            <button class="pop-button reply-button" data-id=<%= comment.id %>>↵</button>
          </div>
          <% end %>
        </div>
        <p id=<%= "#{comment.id}-info" %>><%= comment.content %></p>
        <% if comment.user.id == @current_user.id %>
          <%= render "shared/comment_form", {comment: comment} %>
        <% end %>
        <%= render "shared/new_comment", { comment: comment.comments.new(:user_id => current_user.id) } %>

        <% if comment.comments.size > 1 %>
          <%= render "shared/comments_info", { comments: comment.comments.select{|c|!c.new_record?}, reply: true } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
